<form action="/bookmarker/<%= @bookmark.id %>" method="post">
  <legend>Edit my bookmark</legend>
    <label>URL:</label>
    <input type="text" name="url">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Genre:</label>
    <input type="text" name="genre">
    <label>Details:</label>
    <input type="text" name="details">

    <button type="submit">Make the change</button>

</form>