

<div class="option_holder"> 
  <h3>Place. Revisit. Connect.</h3>
  <a href="/bookmarker/new"><button type="submit" id="create">Create a BookMark</button></a>
  <a href="/bookmarker"><button type="submit" id= "index">See my BookMarks</button></a>
</div> 


