<h1>BookMarker</h1>
<h3>Place. Revisit. Connect</h3>

<div class="option_holder"> 

  <a href="/bookmarker/new"><button type="submit">Create a BookMark</button></a>
  <a href="/bookmarker"><button type="submit">See my BookMarks</button></a>
</div> 


