<h1>My Bookmarks</h1>
<div class="index">
<% index = 1 %>
<% @bookmarks.each do |bookmark| %>
<div class="index_item">
  <h3>BookMark <%=index%></h3>
  <div class="item_details">
  <h3>URL:</h3>
  <p> <%= bookmark.url %> </p>
  </div>

  <div class="item_details">
  <h3>Title:</h3>
  <p> <%= bookmark.title %> </p>
  </div>

  <a href="/bookmarker/<%= bookmark.id %>"><button type="submit">View BookMark</button></a>
  <br>
</div>
<% index+=1 %>
<% end %>
</div>