<h1>My Bookmarks</h1>
<div class="index">
<% @bookmarks.each do |bookmark| %>

  <b>URL:</b>
  <p> <%= bookmark.url %> </p>

  <b>Title:</b>
  <p> <%= bookmark.title %> </p>

  <b>Genre:</b>
  <p> <%= bookmark.genre %> </p>

  <b>Details:</b>
  <p> <%= bookmark.details %></p>


<% end %>
</div>