<!DOCTYPE html>
<html>
<head>
  <title>Bookmark</title>
  <link rel="stylesheet" type="text/css" href="/bmk_stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>

<body>  

  <header>BookMarker<a href="/"><img src="/bookmark.png"></a></header>

  <main> <%= yield %> </main>

  <footer></footer>



</body>
</html>