<form action="/bookmarker" method="post" id="create_new_bmk">
  <legend>Create a bookmark</legend>
    <label>URL:</label>
    <input type="text" name="url" required>
    <label>Title:</label>
    <input type="text" name="title" required>
    <label>Genre:</label>
    <input type="text" name="genre" required>
    <label>Details:</label>
    <input type="text" name="details" required>

    <button type="submit">Place my bookmark</button>

</form>